/* ####################### */
/* ##### GENERAL CSS ##### */
body {
    background-color:#b91450;
    color: white;
    font-family: 'Roboto', sans-serif;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.d_flex {
    display: flex;
}
.justify_center {
    justify-content: center;
}
.align_center {
    align-items: center;
}
.f_col {
    flex-direction: column;
}



/* #################### */
/* ##### FORM CSS ##### */
form {
    padding: 20px;
    background-color: white;
    color: #b91450;
    height: auto;
    width: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.507);
}
input, select {
    border-radius: 6px;
    height: 25px;
    width: 180px;
    border: 1px solid #b91450;
    margin: 10px;
    text-align: center;

}
select {
    height: 29px;
}

.bttn {
    width: 85px;
    height: 35px;
    font-weight: 900 !important;
    font-size: 15px;
    border: 1px solid gray;
    color: #b91450;
}
.bttn:hover {
    border: 2px solid #b91450;
    cursor: pointer;
}

.input_div > div {
    margin: 10px 20px;
}
.input_div > div > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}






/* ######################### */
/* ##### BIGLIETTO CSS ##### */
.biglietto_div {
    margin: 50px 0px;
}
.biglietto {
    padding: 15px;
    background-color: white;
    color: black;
    height: auto;
    width: auto;
}

.details_div {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.barcode_div {
    background-image: url("../img/barcode.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 10px;
    height: auto;
    width: 80px;
    border-left: 2px dotted gray;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.bollo {
    background-image: url("../img/bollo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    flex-grow: 1;
    margin-right: 50px;
}

.h4_title {
    text-decoration: underline;
    font-weight: 700;
}